@import '~bootstrap/scss/bootstrap';

body {
  background-image: url("https://image.freepik.com/free-photo/car-tire-background-tyre-texture-closeup-background_49507-1795.jpg");
  color: white;
  font-family: 'Russo One', sans-serif;
}
